body {
  margin: 0;
  padding: 4% 35%;
  font-family: Arial, sans-serif;
  
}

.App {
  flex-direction: flex;
  height: calc(100vh - 80px); /* Adjust for header/footer */
}

.App-logo {
  height: 400vmin;
  pointer-events: none;
  
}

@media (max-width: 480px) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  .App {
    flex-direction: column;
    height: calc(100vh - 80px); /* Adjust for header/footer */
  }
}

